.Robot {
  position: absolute;
  bottom: 0;
  width: 80px;
  height: 80px;
  background-color: transparent;
  background-image: url('./robot.png');
  background-size: cover;
  transition: transform .3s linear, left .3s linear, bottom .3s linear;
}
